$dm-sans: "DM Sans", sans-serif;
$dm-serif-display: "DM Serif Display", serif;
$primary-color: #f37124;
$link-color: #00857f;

body, p {
  font-family: $dm-sans;
}

  /* Height for devices larger than 992px */

h1, h2, h3, h4, h5, h6 {
  font-family: $dm-serif-display;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 0;
  margin-top: 1rem;
}

nav {
  font-family: $dm-sans;
  color: #202020;
}

.btn-primary {
  background-color: $primary-color !important;
  border-color: $primary-color !important;
  font-family: $dm-sans;

  &:hover, &:active, &:visited {
    background-color: $primary-color !important;
    border-color: $primary-color !important;
  }
}

p {
  a {
    border-bottom: 1px solid $link-color;
    color: $link-color;
    font-weight: 700;
    text-decoration: none;
    transition: border-bottom-color 0.12s ease-in;

    &:focus, &:hover {
      border-bottom-color: transparent;
      outline: 0;
    }
  }

  font-size: 1rem;
  line-height: 1.5;
  -webkit-margin-before: 0;
  margin-block-start: 0;
  margin-bottom: 0;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.5625rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.25rem;
  line-height: 1.33;
}

h5 {
  font-size: 1.125rem;
  line-height: 1.5;
}

h6 {
  font-family: $dm-sans;
  font-size: 1rem;
  line-height: 1.5;
}

      /* Default height for small devices */
      #intro-example {
        height: 400px;
      }

      /* Height for devices larger than 992px */
      @media (min-width: 992px) {
        #intro-example {
          height: 600px;
        }
      }